h2 {
    text-align: center;
    color: #333;
    right: 50%;
}
.container-group {
    width: 80%;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px 0;
}

.member {
    display: flex;
    align-items: center;
    background: #fff;
    margin: 15px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.info {
    flex: 1;
}

h3 {
    color: #555;
    margin-bottom: 5px;
}

p {
    margin: 3px 0;
    color: #666;
}

.member:nth-child(odd) {
    background: #f9f9f9;
}

dt {
    font-size: 25px;
    font-weight: bold;
}

dd {
    font-size: 15px;

}

dt dd {
    text-align: center;
}