/* ========== Default Styles (Desktop First) ========== */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eef1f7;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}


/* ========== Mobile (max-width: 768px) ========== */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }
    .navbar ul {
        flex-direction: column;
        display: none; /* Menu is turn off in mobile */
    }
    
    nav {
        padding: 0.8rem 0;
        text-align: top;
        object-position: 0%;
    }
    ul {
        font-size: 10px;
    }
    nav ul {
        flex-direction: column;
        padding: 1rem 0;
        max-height: 170px;
        
    }
    
    nav ul li {
        margin: 0.7rem 0;
    }
    
    nav ul li a {
        padding: 0.7rem 1.5rem;
        font-size: 30%;
        
    }
    
    nav ul li a:hover {
        transform: scale(0.5); /* Smaller scale on mobile */
    }
    
    nav ul li a:active {
        transform: scale(0.95);
    }
    /* Responsive Enhancements */
    
    
    .text_box {
        text-align: center;
    }

    
}

/* ========== Tablet (min-width: 769px and max-width: 1024px) ========== */
@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        padding: 10px 20px;
    }
    .navbar ul li {
        margin-right: 15px;
    }
    
    /* Adjusting text sizes for readability */
    h1, h2, h3 {
        font-size: 90%;
    }
    .nav {
        font-size: medium;
        height: 30%;
    }
}

/* ========== Small Laptop (min-width: 1025px and max-width: 1366px) ========== */
@media (min-width: 1025px) and (max-width: 1366px) {
    .container {
        padding: 20px 40px;
    }
    .text_box {
        font-size: 1.1rem;
    }
    .nav {
        font-size: small;
        height: 20%;
    }
}

/* ========== Large Desktop (min-width: 1367px) ========== */
@media (min-width: 1367px) {
    .container {
        max-width: 1200px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}